<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<style>
    .f{
        width: 650px;
        margin-top: 10px;
    }
</style>
<body>
<center>
    <h1>添加成绩单</h1>
    <form class="f" action="add_do" method="post">
        <div class="form-group">
            <label >姓名</label>
            <input type="text" class="form-control"  placeholder="姓名" name="name">
        </div>
        <div class="form-group">
            <label >课程名称</label>
            <input type="text" class="form-control"  placeholder="课程名称" name="coures">
        </div>
        <div class="form-group">
            <label >成绩</label>
            <input type="text" class="form-control"  placeholder="成绩" name="score">
        </div>
        <button type="submit" class="btn btn-success">添加</button>
    </form>
</center>
</body>
</html>